name: Build
on: push

jobs:
  build_and_test:
    runs-on: windows-latest
    env:
      GITHUB_ACTIONS: true
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET 9 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Build solution
        run: dotnet build "./src/Sphere10.Framework (CrossPlatform).sln" --verbosity minimal
      - name: Run tests
        run: dotnet test "./src/Sphere10.Framework (CrossPlatform).sln" --verbosity minimal
